<template name="bus">

<h1 class="headling">The location of the bus</h1>
<p class="text">The Bus</p>
<div class="button-box" id="status"> 
<button class="option-button" id="leaving">Is leaving</button>
<button class="option-button" id="left">Has left</button>
<button class="option-button" id="arrive">Will arrive</button>
</div>
<p class="text">At</p>
<select class="selector" id="station">
  <option>
    Kampong Chhnang station
  </option>
  <option>
    Takeo station
  </option>
  <option>
    Kampong Cham station
  </option>
</select>
<br />
<br />
<button class="button" id="send">
Send
</button>

</template>