<template name="enregistrement">

<div class="container-fluid">
	<div class="row background-box">
		
	</div>
	<div class="content-box col-lg-6 col-md-6 col-sm-12 col-lg-push-3 col-md-push-3">
				<div class="col-lg-12 col-md-12 col-sm-12 page-header">
					<img src="/img/tos-tovfinal.png" width="30%" />
					<img src="/img/en.png" id="en-lang"  width="15%" class="lang-btn" />
					<img src="/img/kh.png" id="kh-lang"  width="15%" class="lang-btn" />
					
				</div>
				
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h1 class="h3">{{_"bus_line"}}:</h1>

					<select class="form-control" id="bus">
						<option value="bavet-phnompenh">{{_"bavet_pp"}}</option>
						<option value="svayrieng-phnompenh">{{_"svayreang_pp"}}</option>
						<option value="phnompenh-bavet">{{_"pp_bavet"}}</option>
						<option value="phnompenh-svayreang">{{_"pp_svayreang"}}</option>
					</select>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12">
					<h1 class="h3">{{_"station"}}:</h1>
					<select class="form-control select" id="station">
					{{#each station}}
						<option value="{{value}}">{{order}}. {{name}}</option>
					{{/each}}
					</select>
						<!--
						<option value="kien svay">{{_"kien_svay"}}</option>
						<option value="kokir market">{{_"kokir_market"}}</option>
						<option value="somroeng thom market">{{_"somroeng_thom_market"}}</option>
						<option value="neak loerng">{{_"neak_loerng"}}</option>
						<option value="kampong soeng_market">{{_"kampong_soeng_market"}}</option>
						<option value="lvea market">{{_"lvea_market"}}</option>
						<option value="kampong trabeak">{{_"kampong_trabeak"}}</option>
						<option value="kor ndaeuk market">{{_"kor_ndaeuk_market"}}</option>
						<option value="kraol kou">{{_"kraol_kou"}}</option>
						<option value="svay chrum market">{{_"svay_chrum_market"}}</option>
						<option value="svay rieng university">{{_"svay_rieng_university"}}</option>
						<option value="svay rieng town">{{_"svay_rieng_town"}}</option>
						<option value="prasaut">{{_"prasaut"}}</option>
						<option value="chiphu">{{_"chiphu"}}</option>
						<option value="bavet town">{{_"bavet_town"}}</option>
					</select>
					!-->
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12">
					<h1 class="h3">{{_"event"}}:</h1>

					<input type="radio" name="status" id="leave" value="is leaving" checked="checked"><label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn" for="leave">{{_"leave"}}</label>
					
					<input type="radio" name="status" id="arrive" value="will arrive"><label class="btn col-lg-4 col-md-4 col-sm-4 col-xs-12" for="arrive">{{_"arrive"}}</label>
					
					<input type="radio" name="status" id="left" value="has left"><label class="btn col-lg-4 col-md-4 col-sm-4 col-xs-12" for="left">{{_"left"}}</label>
	
    			</div>
					
				<button id="save" class="col-lg-4 col-md-4 col-sm-4 btn btn-success">{{_"post"}}</button>
				<p class="col-lg-12 col-md-12 col-sm-12" style="color: green; margin-top: 60px; text-align: center;" id="notify">{{_"update_message"}}</p>
					
			</div>
		
	</div>





</template>