<template name="selection">
<h3 class="headling">First Page</h3>


<p class="text"><img src="/img/Polyline-48.png"/>Bus line:</p> 

<select class="selector" id="line">
	
  <option>Phnom Penh-Kampot</option>
  <option>Phnom Penh-Senegal</option>
  <option>Phnom Penh-Takeo</option>
<option>Phnom Penh-Kampong Speu</option>
<option>Phnom Penh-Kampong Cham</option>
<option>Phnom Penh-Kampong Chhnang</option>

</select>
<p></p>
<p class="text"><img src="/img/Time-48.png"/>Bus time:</p> 
<select class="selector" id="time">
  <option>8.00 am</option>
  <option>10.00 am</option>
  <option>12.00 am</option>
  <option>2.00 pm</option>


</select>

<button class="button" id="next">Next</button>

</template>