<template name="selection">
<h3 class="headling">First Page</h3>


<p class="text"><img src="/img/Polyline-48.png"/>Bus line:</p> 

<select class="selector" id="line">
  <option>Takeo-Takhmao</option>
  <option>Wat Phnom-Chhbar Ampov</option>
  <option>Kampong Speu-Kampong Chhnang</option>
  <option>Kep-Kampot</option>
</select>
<p></p>
<p class="text"><img src="/img/Time-48.png"/>Bus time:</p> 
<select class="selector" id="time">
  <option>៦ ព្រឹក</option>
  <option>៧ ព្រឹក</option>
  <option>៨ ព្រឹក</option>
  <option>៩ ព្រឹក​​</option>


</select>

<button class="button" id="next">Next</button>

</template>