#save{
	top: 15px;
	left: 20%;
	width: 60%;
}

/*Second*/
.firstPage{
	top: -5vh;
}
.topBar{
	height: 20vh;
	background: #4285F4;
}

.info{
	top: 5vh;
	background: white;
	box-shadow: 0px 0px 10px grey;
	padding: 25px;
	height: 90vh;
}




#busLine{
	font-size: 3.5vmin;
	top: 17vmin;
}
#selectBusLine{ 
	top: 9vh;
	width: 80vmin;
	height: 7vmin;
	font-size: 2.5vmin;
}

.lang-btn {
	float: right;
	margin-left: 10px;
	font-size: 10px;
	cursor:pointer;	
}

.page-header {
	padding: 10px;
	margin-top: 0px;
}


.content-box {
	background: #ffffff;	
	top: -15vh;
	background: white;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    margin: 5px;
    padding-bottom: 100px;
}

.background-box {
	position: relative;
	height: 20vh;
	background: #007AFF;
}

input[type="radio"] {
    visibility:hidden;
    display: none;
}

input[type="radio"]:checked + label{
	background: #007AFF;
	color: white;
}
.btn-default:hover {
    color: #333;
    background-color: #ffffff;
}

input[type="radio"]:checked + label::before{
	content: "\2713";
	position: absolute;
	left: 20px;
}
